sudo: required
dist: trusty
language: scala
script:
  - if [[ "$TRAVIS_PULL_REQUEST" != false ]]; then sbt ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport; else travis_retry sbt ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport; fi
#  - if [[ "$TRAVIS_PULL_REQUEST" != false ]]; then sbt ++$TRAVIS_SCALA_VERSION clean test; else travis_retry sbt ++$TRAVIS_SCALA_VERSION clean test; fi
after_success:
  - bash <(curl -s https://codecov.io/bash)
scala:
  - 2.12.14
jdk:
  - oraclejdk11
branches:
  only:
    # We're only building these branches and pull requests.
    - master
    - develop
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
notifications:
  email: false